li.nav-item {
  list-style-type: none;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.example-container {
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {

  height: 10px;
  background: "#fe0222";
  transform-origin: 0%;
}

/* .next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
} */

/* .next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
} */

img {
  /* position: absolute; */
  max-width: 100%;
}

.height-status {
  min-height: 100px;
  max-height: 40rem;
  overflow: scroll;
  scrollbar-width: 0px;
  scroll-behavior: auto;

}

.card-comp:hover {
  background-color: #484c7f;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.skeleton {
  transition-property: width, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 500ms;

  animation: openModal 0.4s ease-out forwards;

}

@keyframes openModal {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}




.useContextMenu_ContextMenu  {
  background-color: #484c7f !important;
  cursor: pointer;

  width: 6rem;

}

.useContextMenu_ContextMenuItem:hover {
  color: #F19828 !important;
  background-color: #484c7f !important;

}



